
@{
    ViewBag.Title = "Recovery";
}

<h4 style="text-align:center">Trash & Recovery</h4>

<div ng-app="trashRecoveryApp" ng-controller="trashRecoveryCtrl">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 248px;">First Name</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Last Name</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 114px;">Email</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 51px;">Password</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 108px;">Role</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 208px;">Action</th>
                    </thead>

                    <tbody>
                        <tr class="odd" ng-repeat="user in userInfoList">
                            <td class="sorting_1">{{user.FirstName}}</td>
                            <td>{{user.LastName}}</td>
                            <td>{{user.Email}}</td>
                            <td>{{user.Password}}</td>
                            <td>{{user.Role.Name}}</td>
                            <td style="padding:10px">
                                <a ng-click="recoveryUserInformationById(user)" class="btn btn-success btn-circle" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-undo"></i></a>
                            </td>
                        </tr>


                        @*<tr class="even">
                        <td class="sorting_1">Angelica Ramos</td>
                        <td>Chief Executive</td>
                        <td>London</td>
                        <td>47</td>
                        <td>2009/10/09</td>
                        <td>
                            <a href="#" class="btn btn-info btn-circle btn-sm"><i class="fa fa-pen"></i></a>
                            <a href="#" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>*@

                    </tbody>
                </table>
            </div>
        </div>

    </div>



</div>
<script src="~/Scripts/MyScripts/TrashAndRecovery.js"></script>