
@{
    ViewBag.Title = "User";
}

<h4 style="text-align:center;font-weight:bold">User Information</h4>

<div ng-app="UserInfoApp" ng-controller="UserInfoCtrl">

    @if (Session["RoleId"].ToString() == "1")
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm">Settings</a>
                </div>
            </div>
        </div>
    }

    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 248px;">First Name</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 248px;">Last Name</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 114px;">Email</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 51px;">Password</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 108px;">Role</th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 208px;">Action</th>
                    </thead>

                    <tbody>
                        <tr class="odd" ng-repeat="user in userInfoList">
                            <td class="sorting_1">{{user.FirstName}}</td>
                            <td>{{user.LastName}}</td>
                            <td>{{user.Email}}</td>
                            <td>{{user.Password}}</td>
                            <td>{{user.Role.Name}}</td>
                            <td style="padding:10px">
                                <a ng-if="setting.CanView==1" ng-click="viewUserInformationById(user.Id)" class="btn btn-success btn-circle btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-eye"></i></a>
                                <a ng-if="setting.CanEdit==1" ng-click="getUserInformationById(user.Id)" class="btn btn-info btn-circle btn-sm"><i class="fa fa-pen"></i></a>
                                <a ng-if="setting.CanDelete==1" ng-click="deleteUserByUserId(user.Id)" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>


                        @*<tr class="even">
                                <td class="sorting_1">Angelica Ramos</td>
                                <td>Chief Executive</td>
                                <td>London</td>
                                <td>47</td>
                                <td>2009/10/09</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-circle btn-sm"><i class="fa fa-pen"></i></a>
                                    <a href="#" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>*@

                    </tbody>
                </table>
            </div>

            <div class="col-sm-12 col-md-4">
                <form style="padding:10px;background-color:white">
                    <div class="form-group">
                        <label for="formGroupExampleInput">First Name</label>
                        <input ng-model="userInfo.FirstName" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Last Name</label>
                        <input ng-model="userInfo.LastName" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Email</label>
                        <input ng-model="userInfo.Email" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Password</label>
                        <input ng-model="userInfo.Password" type="password" class="form-control" id="formGroupExampleInput2" placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Role</label>
                        @*<select name="ukuran" id="idUser" class="form-control">
                                <option value="1000">User</option>
                                <option value="11">Admin</option>
                            </select>*@

                        <select ng-model="userInfo.RoleId"
                                ng-options="option.Id as option.RoleName for option in roleList" class="form-control">
                            <option value="" label="" class="">---Select One---</option>
                        </select>



                    </div>
                    <div class="form-group">
                        <a ng-if="setting.CanAdd==1" href="#" class="btn btn-success btn-icon-split btn-sm" ng-click="formSubmit()">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Submit</span>
                        </a>
                    </div>


                </form>
            </div>

        </div>
    </div>



    <!-- modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <h4 style="text-align:center">User Information Details</h4>
                <div style="padding:10px">
                    <table>
                        <tr>
                            <td>Full Name: </td>
                            <td> {{singleUserInfo.FirstName}}  {{singleUserInfo.LastName}}</td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td> {{singleUserInfo.Email}}</td>
                        </tr>
                        <tr>
                            <td>Password: </td>
                            <td> {{singleUserInfo.Password}}</td>
                        </tr>
                        <tr>
                            <td>Status: </td>
                            <td> {{singleUserInfo.Status}}</td>
                        </tr>
                        <tr>
                            <td>Create Date: </td>
                            <td> {{singleUserInfo.CreateDate}}</td>
                        </tr>
                        <tr>
                            <td>Update Date: </td>
                            <td> {{singleUserInfo.UpdateDate}}</td>
                        </tr>
                        <tr>
                            <td>History: </td>
                            <td> {{singleUserInfo.History}}</td>
                        </tr>
                    </table>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
    <!-- Setting modal -->

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="padding:10px">
                <h5>Turn on or off every single action</h5>
                <table>
                    <tr>
                        <td>Can View</td>
                        <td><input ng-model="setting.CanView" type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>Can Add</td>
                        <td><input ng-model="setting.CanAdd" type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>Can Edit</td>
                        <td><input ng-model="setting.CanEdit" type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>Can Delete</td>
                        <td><input ng-model="setting.CanDelete" type="checkbox" /></td>
                    </tr>

                    <tr>
                        <td>
                            <input class="btn btn-success btn-sm" type="button" value="Save" ng-click="saveSettings()" />
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
    <!-- Setting modal -->




</div>
 <script src="~/Scripts/MyScripts/UserInfo.js"></script>


<style>
    input {
        height: 30px!important;
    }
    select {
        height: 30px !important;
    }
</style>
